body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    align-items: center;

    display: flex;
    justify-content: center;
    margin-top: 50px;   
    margin-bottom: 20px;
}

.logo img {
    height: 120px;
    width: 500px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    border-radius: 15px;
    width: 1300px;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

main {
    padding: 20px;
    background-color: #fafafa;
}

.promo {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/pics/121.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    color: white;
    
}

.promo h1 {

    font-size: 2rem;
    margin-top: 10px;
    margin-left: -10px;

}
.promo p {

    font-size: 15px;
    margin-top: 80px;
    margin-left: -340px;
    width: 700px;
    word-spacing: 2px;

}


.content {
    display: flex;
    gap: 20px;
}

.card {
    background-color: lightgoldenrodyellow;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    /* text-align: center;
    align-items: flex-start; */
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    padding: 10px 0;
}

.card p {
    padding: 0 10px 10px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    color: blue;
    text-decoration: underline;
}

.card a:visited {
    color: darkmagenta;
}

.card a:hover{
    color: black;
}

.card a:active{
    color:green;
}


.footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img {
    max-width: 50px;
}
.footer-divider {
    
    flex-grow: 5;
    border-top: 1px solid #000;
    margin: 0 -140px 20px 420px;

}
.footer p {
    margin: 0;
    font-size: 0.9rem;
    margin-top: 20px;
}


@media (max-width: 768px) {
    nav {
        width: 500px;
        flex-direction:row;
        align-items: flex-start;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul li {
        margin: 5px 0;
    }
}


@media (max-width: 768px) {
    .promo {
        padding: 45px;
        border-radius: 15px;
        opacity: 0.9;
    }

    .promo p {
        font-size: 1rem;
        margin-top: 10px;
        margin-left: -10px;
        width: 100%;
        
        
    }
}
@media (max-width: 480px) {
    .promo {
        padding: 10px;
        border-radius: 10px;
    }
}